.DS_Store
__pycache__/
__archive/

output/saved_model/*.pth
output/predictions/*.csv
output/predictions/epochs/*.csv
output/figures/*.png

data/Cranes*
data/preprocessing/*.txt
data/preprocessing/*.csv
data/preprocessing/output/*.csv
data/preprocessing/segmentations/