.DS_Store
__pycache__/
__archive/

output/saved_model/*.pth
output/predictions/*.csv
output/predictions/epochs/*.csv
output/performance/*.png
output/performance/*.txt

data/*.csv
data/preprocessing/split_data/*.csv
data/preprocessing/add_labels/*.csv
data/preprocessing/add_labels/*.txt
data/preprocessing/add_labels/output/*.csv
data/preprocessing/add_labels/segmentations/